<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Projekt 2</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script>
        $(function () {
            $('.nav-link').click(function () {
                var thisPage = $(this);
                $('#content').fadeOut(200, function () {
                    $('#content').load(thisPage.attr('href'), function () {
                        $('#content').fadeIn(200);
                    });
                });
                // $('li.active').removeClass('active');
                // $(this).closest('li').addClass('active');
                return false;
            });
        });
    </script>

</head>

<body>
<main>
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <ul class="navbar-nav">
            <li><button type="button" class="btn" id="/KlientList">Lista klientow</button></li>
            <li><a class="nav-link" href="/SamochodList">Lista samochodów</a></li>
            <li><a href="/ZdarzenieList">Lista zdarzeń</a></li>
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="col-md-12 dark-text text-center" id="content">
            <h1>Szkody</h1>
            <p>Piotr Praszkiewicz</p>
            <p>Baza ma:</p>
            <ul>
                <li><strong>Liczba klientow:</strong> {{ num_klienci }}</li>
                <li><strong>Liczba samochodów:</strong> {{ num_samochody}}</li>
                <li><strong>Liczba zdarzeń:</strong> {{ num_zdarzenia}}</li>
            </ul>
        </div>
    </div>
</main>

<!-- Footer -->
<footer class="page-footer bg-dark text-light fixed-bottom">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        <li><a class="nav-link" href="/SamochodList">Lista samochodów</a></li>
        <li><a class="nav-link" href="/KlientList">Lista klientów</a></li>
        <li><a class="nav-link" href="/ZdarzenieList">Lista zdarzeń</a></li>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
</body>
</html>